.class {
    width: 18vw;
    height: 18vh;
    background-color: burlywood;
    color: black;
    margin: 0.5em;
    border-radius: 25px;
}

p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 1.2em;
}

